@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    overflow-x: hidden;
}

.h-50{
    height:70vh;
}

.poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nav-bck{
    z-index: 10000;;
    background-color: #635848;
    
    
   
}

.bck-main{
    z-index: 0;
   /* background-color: #635848; */
   background-image: url('../public/images/bck-8.png');
  background-size: cover;
  background-repeat: no-repeat;
   
}

.def-but{
  position: relative;
    outline: none;
    background: none;
}

.def-but::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}

.def-but:hover::after {
  width: 100%;
  left: 0;
}

.def-but:focus{
    outline: none;
}

.nav-but{
    border-radius: 0.5em;
    color:white;
    font-weight: 500;
    background-color: #a0004e;
    border: none;
}

.brightness-80{
  filter: brightness(65%);
}

.land-but:hover{
    border-radius: 0.5em;
    color:white;
    font-weight: 500;
    background-color: #a0004e;
    border: #a0004e 2px solid;
    
}

.land-but{
    border-radius: 0.5em;
    color:black;
    font-weight: 500;
    border: #c72172 2px solid;
    transition: 0.3s;
}

.main-bg{
    /* background: url("../public/images/backg2.png"); */
    background-color: #ff1084;
    background-size: cover;
    background-repeat: no-repeat;
}

.h-100{
    height: 100vh;
}

.w-90{
    width:80%;
}

.text-large{
    font-weight:bolder;
    font-size: 200%;
}


.text-md{
    font-weight:bold;
    font-size: 120%;
}

.text-pink{
    color: #ff63af;
}



.shadow-bd{
    box-shadow: #525252 0px 0px 10px;
}


/* CSS */
::-webkit-scrollbar {
    width:0px; /* Adjust the width as needed */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #867051;
  }
  

  .in-f{
    width:90%;
  }

  #image-upload:hover #overlay {
    display: flex;
    
  }

  .card-90{
    height:80vh;
  }

  .uni-border{
    margin-top: 1%;
    width:98%;
    height:90vh;
    overflow-y: scroll;
    overflow-x: hidden;
  
    box-shadow:#635848 0px 0px 2px;
    border-radius: 0.5em;
  }


  .br-d{
    box-shadow: #1c1c1c 0px 0px 3px;
  }
  

  .intro-page p{
    font-size: 130%;
    color:white;
   
    
  }

  .ruluko{
    font-family: "Ruluko", sans-serif;
    font-weight: 500;
  }
  
  .get-start{
    font-family: "Ruluko", sans-serif;
    font-weight: 500;
   
    border:none;
    background-color:#ffbf77;
    color:black;
    border-radius: 0.55em;
    outline:none;
   
    padding:1% 1% 1% 1%;
   
  }

  .text-below{
    font-family: "ruluko", sans-serif;
    color:white;
    font-size: 120%;
    font-weight:200;
  }

  .text-libre{
    font-family: "Libre Baskerville", serif;
  }

  .text-trans{
   
    font-size: 400%;
    font-family: "Libre Baskerville", serif;
    font-weight:800;
    background: -webkit-linear-gradient(#ffefde,#ffe4c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  .text-head{

    font-size: 250%;
    font-family: "Libre Baskerville", serif;
    font-weight:800;
    color:#1c1c1c;
    

  }

  .main-color{
    background-color:#393124 ;
    padding:2%;
    font-family: "Roboto", sans-serif;
  }

  .text-platform{

    
    font-family: "ruluko", sans-serif;
   
    font-weight:400;
    color:#998465;
    

  }

  .text-descp{

    
    font-family: "Roboto", sans-serif;
   
    font-weight:400;
    color:#000000;
    

  }
  .w-70{
    width:70%;
  }

  .w-100{
    width:100vh;
  }

  .w-img{
    display: block;
    width:500px;
    height:400px;
    filter: brightness(0.5);

  }


  .h-full{
    height:70vh;
  }

  .color-main{
    color: #998465;
    font-size: x-large;
  }

  .card-bck{
    background-color: #ffdca7;
  }

  .bottom-fixed {
    flex-shrink: 0;
}
 

.text-grey-800{
  color:rgb(79, 79, 79);
}

.font-size-150{
  font-size: 150%;
}

.chat-block,.card-like{
  font-family: "Poppins", sans-serif;
}

.b-input{
  border: #998465 1px solid;
  border-radius: 0.45em;
}



.end-page{
  font-family: "ruluko", sans-serif;
  text-align: center;
}

.cursor{
  cursor: pointer;
}

.checked{
  border: 1px solid #ffe5bd;
  border-radius: 0.45em;
}
.circle{
  border-radius: 50%;
  background-color: #998465;
  
}